/*

Prefixos do código

btn = botao
t = tamanho (ex: t1 = tamanho objeto 1)
topbar = barra do topo da página
rcbform = caixa que recebe o formulário

*/




:root {

    --borderscolor: rgba(255, 255, 255, 0.384);

}

.option2 {

    height: 100px;
    width: 200px;
    color: rgba(132, 0, 255, 0.938);
    font-family: "Noto Sans Display";
    background-color: white;
    border-radius: 5px;



}

.caixainput1 {


    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0);
    gap: 3px;

}


.caixainput2 {


    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0);
    gap: 8px;

}

label {


    margin-left: 10px;
    color: rgb(241, 241, 241);
    font-family: "Noto Sans Display";

}



.t1 {

    width: 300px;
    height: 35px;

}

.t2 {


    width: 200px;
    height: 35px;
}

.t3 {

    width: 300px;
    height: 35px;
}

.t4 {

    width: 300px;
    height: 35px;

}

body {

    background-image: url(../media/bck.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.topbar {

    background-color: rgba(255, 148, 72, 0.637);
    width: 100%;
    height: 120px;
    border: var(--borderscolor);

    border-style: none none solid none;
    z-index: 1;
}

.sidebar {

    display: flex;
    flex-direction: column;
    background-color: rgba(237, 128, 4, 0.479);
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 0;
    top: 120px;
    margin-left: 20px;
    align-items: center;
    border-style: none solid none none;
    border-color: rgba(185, 185, 185, 0.658);
    border-width: 2px;
    padding-top: 10px;
    z-index: -1;
}

.btnside {

    border-radius: 8px;
    color: rgba(0, 0, 0, 0.815);
    background-color: rgba(255, 148, 72, 0.774);
    font-family: "Noto Sans Display";
    font-size: 22px;
    border: none;
    margin-top: 10px;
    width: 95%;
    height: 80px;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: none none solid none;

}


.btnside:hover {

    transition: all;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 145, 0);
    transition-duration: 300ms;
    border-style: none none solid none;
    border-color: rgba(0, 0, 0, 0.171);
    border-width: 1px;
    border-radius: 10px;
    width: 102%;

}

.btnsubmit:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(255, 145, 0);
    border-style: solid;
    border-color: rgb(255, 145, 0);
    border-radius: 10px;



}

.btnsubmit {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.815);
    background-color: rgb(255, 130, 13);
    font-family: "Noto Sans Display";
    font-size: 30px;
    border: solid;
    border-color: var(--borderscolor);
    border-width: 2px;
    gap: 20px;
    transition: all 400ms;

}

#inputboxprocselectype {

    font-size: 25px;
    color: rgba(0, 0, 0, 0.815);
    text-align: center;
    font-family: "Noto Sans Display";
    flex-direction: column;
    left: 330px;
    top: 150px;
    position: absolute;
    background-color: rgba(235, 145, 28, 0.534);
    display: none;
    height: 500px;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border-color: var(--borderscolor);
    border-width: 2px;
    border-style: solid;
    gap: 10px;

}

.inputboxprocfisica {

    flex-direction: column;
    left: 270px;
    top: 150px;
    position: absolute;
    background-color: rgba(235, 145, 28, 0.534);
    display: none;
    height: 660px;
    width: 900px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-color: var(--borderscolor);
    border-width: 2px;
    border-style: solid;

}

.inputboxprocjuridica {

    flex-direction: column;
    left: 270px;
    top: 150px;
    position: absolute;
    background-color: rgba(235, 145, 28, 0.534);
    display: none;
    height: 660px;
    width: 900px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-color: var(--borderscolor);
    border-width: 2px;
    border-style: solid;

}


.rcbform,
.rcbform2 {

    margin-top: 20px;
    background-color: rgba(69, 178, 18, 0);
    width: 330px;


}

.rcbform {


    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    height: 450px;
}

.rcbform2 {

    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;

}

.form1 {


    color: rgb(0, 0, 0);
    background-color: rgb(218, 216, 216);
    font-family: "Noto Sans Display";
    border: 2px solid rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
}

.form2 {

    color: rgb(0, 0, 0);
    background-color: rgb(218, 216, 216);
    border: solid;
    font-family: "Noto Sans Display";
    border-width: 2px;
    border-style: solid solid solid solid;
    border-color: rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    transition: all;

}

.form1:hover {

    background-color: rgb(255, 255, 255);
    outline: none;
    transition-duration: 400ms;

}

.form2:hover {

    background-color: rgb(255, 255, 255);
    outline: none;
    transition-duration: 400ms;

}

.form1:focus {

    border-color: rgb(253, 189, 105);
    border-width: 2px;
    outline: none;
    transition-duration: 400ms;
}

.form2:focus {

    border-color: rgb(253, 189, 105);
    border-width: 2px;
    outline: none;
    transition-duration: 400ms;
}

#encaixotei {

    display: flex;
    width: 100%;
    gap: 100px;
    background-color: rgba(255, 0, 0, 0);

}

.btnback {


    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: rgb(255, 130, 13);
    border: solid;
    border-color: var(--borderscolor);
    border-width: 2px;
    gap: 20px;
    transition: all 400ms;
}

#footbtn {

    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 120px;
    margin-bottom: 40px;

}